# Supabase
VITE_SUPABASE_URL="https://hnigaotfazuvowedlxzv.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhuaWdhb3RmYXp1dm93ZWRseHp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg2NjA4ODUsImV4cCI6MjA3NDIzNjg4NX0.pAKYzOqjhSrG_jUsamK2ILIiAPcUfwdVyOKH76y48w0"

# Appwrite (only if you want to keep rollback option)
# VITE_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"
# VITE_APPWRITE_PROJECT_ID="68bf11500010cc77f1fb"
# VITE_APPWRITE_DATABASE_ID="684b117a003a7fe0a5f5"
# VITE_APPWRITE_COLLECTION_ID="684b119e00096a7a1703"
# VITE_APPWRITE_BUCKET_ID="684b1971000ef14d47ff"
